[submodule "arduinoday/arduinoday2018"]
	path = arduinoday/arduinoday2018
	url = https://github.com/CursoMaker/arduinoday2018.git
[submodule "_posts"]
	path = _posts
	url = https://github.com/CursoMaker/_posts.git
	branch = ArduinoMinas
[submodule "assets/images"]
	path = assets/images
	url = https://github.com/CursoMaker/images.git
	branch = ArduinoMinas
