---
layout: default
title: Início
---

</div>
</div>
<!-- We've temporary closed main-content and container to have a full width intro -->    


<!-- Home Jumbotron
================================================== -->    
<section class="intro">
    <div class="wrapintro">
        <h1>Curso Arduino Minas</h1>  
        <a target="_blank" href="http://facebook.com/cursoarduinominas" class="btn"><img src="/assets/images/facebook/FindUsOn-FB_pt-BR-RGB-Blk-1611.png" alt="" style="" /></a>
    </div>
</section>

<!-- We reopen main-content and container --> 

<div class="container">
    
    <div class="main-content">
        

        <!-- Featured
        ================================================== -->
            {% for post in site.posts %}
                {% if post.featured == true %}
                    {% include featuredbox.html %}
                {% endif %}
            {% endfor %}
        <!-- Posts Index
        ================================================== -->
            {% include postlistbox.html %}

        </section>