---
layout: noindex
title: Tags
---

<!-- begin tags -->	
{% for tag in site.tags %}
<div class="box">
	<h1><a id="{{ tag | cgi_escape }}" name="{{ tag | cgi_escape }}" href="#{{ tag | cgi_escape }}">{{ tag }}</a></h1>
	<ul class="postList">
	{% for posts in tag %}
		{% for post in posts %}
			{% if post.url %}
		<li class="nested"><a id="href="{{ post.url }}" title="{{ post.excerpt }}">{{ post.title }} <span> {{ post.date | date: '%d.%m.%y' }}</span></a></li>
			{% endif %}
		{% endfor %}
	{% endfor %}
	</ul>
</div>				
{% endfor %}
<!-- end tags -->

