<meta property="fb:admins" content="{{site.fbadmins}}"/>
<meta property="fb:app_id" content="{{site.fbappid}}"/>
<meta property="og:title" content="{{page.title}}" />
{% if page.ogtype %}
<meta property="og:type" content="{{page.ogtype}}" />
{% endif %}
<meta property="og:url" content="{{site.url}}{{page.url}}" />
<meta property="og:image" content="{{site.url}}{{site.defaultlogo}}" />
<meta property="og:site_name" content="{{site.title}}"/>
{% if post %}
{% if post.excerpt %}}
<meta property="og:description" content="{{post.excerpt}}" />
{% endif %}
{% endif %}