{% if author %}
{% assign author = site.data.authors[author[0]] %}
{% elsif page.author %}
{% assign author = site.data.authors[page.author] %}
{% else %}
{% assign author = site.data.authors[site.author] %}
{% endif %}
 <!-- Author Box -->
 {% if author %}				
 <div class="row post-top-meta">
     <div class="col-md-2">
         <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
     </div>
     <div class="col-md-10">
            <a target="_blank" class="link-dark" href="{{ author.web }}">{{ author.display_name }}</a><a target="_blank" href="{{ author.twitter }}" class="btn follow">Follow</a>
         <span class="author-description">{{ author.description }}</span>						
     </div>
 </div>				
 {% endif %}