<title>{{page.title}} - {{ site.title }}</title>
<!-- meta -->
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="{% if page and page.excerpt %} {{ page.excerpt }} {% endif %}">
<meta name="keywords" content="{% if page and  page.tags %} {{ page.tags | array_to_sentence_string }} {% endif %}">
<!-- css -->
<link rel="stylesheet" type="text/css" href="/assets/style.css" />
<link rel="stylesheet" type="text/css" href="/assets/lightbox.css" />
<link rel="stylesheet" type="text/css" href="/assets/print.css" media="print" />
<link rel="icon" type="image/x-icon" href="favicon.png" />
<!-- TODO: link rel="next" / "prev" -->
<!-- js -->
<script src="/javascript/jquery-1.8.0.min.js"></script>
<script src="/javascript/lightbox.js"></script>
<script src="/javascript/purl.js"></script>
