<title>{{page.title}} - {{ site.title }}</title>
<!-- meta -->
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="{% if page and page.excerpt %} {{ page.excerpt }} {% endif %}">
<meta name="keywords" content="{% if page and  page.tags %} {{ page.tags | array_to_sentence_string }} {% endif %}">
{% if page.author %}
<meta name="author" content="{{ page.author }}" />
{% endif %}
{% include facebook/opengraphic.html %} 
<!-- favicon -->
<link rel="icon" type="image/x-icon" href="/favicon.png" />
<!-- css -->
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/assets/css/print.css" media="print" />
<link rel="stylesheet" type="text/css" href="/assets/css/lightbox.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/image.css" />
<!--  custon css -->
{% for style in page.stylesheets %}
<link rel="stylesheet" type="text/css" href="{{style | cgi_scape}}" />
{% endfor %} 
<!-- js -->
<script src="/assets/js/jquery-1.8.0.min.js"></script>
<script src="/assets/js/lightbox.js"></script>
<script src="/assets/js/purl.js"></script>
<!--  custon css -->
{% for script in page.javascripts %}
<script src="{{script | cgi_scape}}"></script>
{% endfor %} 