{%comment %} Ainda estou tentando resolver a interpretação de variaveis
quando inserido nos atributos {% endcomment %}
<script type="text/javascript" src="/resistores/js/resistores.js"></script>
<table class="resistor_data" border="0">
	<thead>
		<tr>
			<th align="center" valign="middle" nowrap="nowrap"><h3>{{page.title}}</h3></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td valign="top">
				<table border="0">
					<tbody>
						<tr>
							<td align="center" valign="middle">
								<table class="resistor" border="0" align="center"
									cellpadding="0" cellspacing="0">
									<thead>
										<tr>
											<th>
												<p>Clique na tarja para mudar a cor.</p>
											</th>
										<tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<table border="0" align="left" cellpadding="0"
													cellspacing="0">
													<tbody>
														<tr>
															<td><img src="/resistores/images/1.gif"></td>
															<!-- Banda A (1) -->
															<td width="13"><a href="javascript:void(0)"
																onclick="resclick('a')"><img
																	class="resistor_band"
																	src="/resistores/images/b_brown.gif" width="13"
																	height="69" id="a" border="0"></a></td>
															<td width="27"><img src="/resistores/images/2.gif"
																width="27"></td>
															<!-- Banda B (2) -->
															<td width="13"><a href="javascript:void(0)"
																onclick="resclick('b')"><img
																	class="resistor_band"
																	src="/resistores/images/s_black.gif" width="13"
																	height="69" id="b" border="0"></a></td>
															<td width="11"><img src="/resistores/images/3.gif"
																width="11" height="69"></td>
															<!-- Banda C (3) -->
															<td width="13"><a href="javascript:void(0)"
																onclick="resclick('c')"><img
																	class="resistor_band"
																	src="/resistores/images/s_red.gif" width="13"
																	height="69" id="c" border="0"></a></td>
															<td width="13"><img src="/resistores/images/3.gif"
																width="13" height="69"></td>
															<!-- Banda D (4) -->
															<td width="13"><a href="javascript:void(0)"
																onclick="resclick('d')"><img
																	src="/resistores/images/s_silver.gif" name="d"
																	width="13" height="69" border="0" class="resistor_band"
																	id="d"></a></td>
															<td width="13"><img src="/resistores/images/3.gif"
																width="13" height="69"></td>
															<!-- Banda E (5) -->
															<td width="13"><a id="link_e"
																href="javascript:void(0)" onclick="javascript:void(0)"><img
																	src="/resistores/images/3.gif" name="e" width="13"
																	height="69" class="resistor_band" id="e"></a></td>
															<td width="27"><img src="/resistores/images/4.gif"></td>
															<!--  Banda F (6) -->
															<td width="13"><a id="link_f"
																href="javascript:void(0)" onclick="javascript:void(0)"><img
																	src="/resistores/images/b_clear.gif" name="f"
																	width="13" height="69" class="resistor_band" id="f"></a></td>
															<td><img src="/resistores/images/5.gif"></td>
														</tr>
												</table>
											</td>
										<tr>
											<td>
												<table width="280" border="0" cellpadding="0"
													cellspacing="0" class="table_arrow">
													<tbody>
														<tr>
															<td width="77">&nbsp;</td>
															<!-- Banda A (1) -->
															<td width="13"><img class="arrow"
																src="/resistores/images/arrow.gif" id="arrow-a"
																width="13" height="25"></td>
															<td width="25">&nbsp;</td>
															<!-- Banda B (2) -->
															<td width="13"><img class="arrow"
																src="/resistores/images/blank_arrow.gif" id="arrow-b"
																width="13" height="25"></td>
															<td width="13">&nbsp;</td>
															<!-- Banda C (3) -->
															<td width="13"><img class="arrow"
																src="/resistores/images/blank_arrow.gif" id="arrow-c"
																width="13" height="25"></td>
															<td width="13">&nbsp;</td>
															<!-- Banda D (4) -->
															<td width="13"><img class="arrow"
																src="/resistores/images/blank_arrow.gif" id="arrow-d"
																width="13" height="25"></td>
															<td width="13">&nbsp;</td>
															<td width="13"><img class="arrow"
																src="/resistores/images/blank_arrow.gif" id="arrow-e"
																width="13" height="25"></td>
															<td width="27">&nbsp;</td>
															<td width="13"><img class="arrow"
																src="/resistores/images/blank_arrow.gif" id="arrow-f"
																width="13" height="25"></td>
															<td>&nbsp;</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
								</table>
							</td>
							<td rowspan="3" align="left" valign="top" height="420"><table
									border="0">
									<tbody>
										<tr>
											<td><a href="javascript:void(0)"
												onclick="colclick('black')"><img
													src="/resistores/images/cl_band.gif" alt="" border="0"
													id="clblack" /></a></td>
											<td>Preto</td>
											<td align="center" valign="top">(0)</td>
										</tr>
										<tr>
											<td><a href="javascript:void(0)"
												onclick="colclick('brown')"><img
													src="/resistores/images/cl_brown.gif" alt="" border="0"
													id="clbrown" /></a></td>
											<td>Marrom</td>
											<td align="center" valign="top">(1)</td>
										</tr>
										<tr>
											<td><a href="javascript:void(0)"
												onclick="colclick('red')"><img
													src="/resistores/images/cl_red.gif" alt="" border="0"
													id="clred" /></a></td>
											<td>Vermelho</td>
											<td align="center" valign="top">(2)</td>
										</tr>
										<tr>
											<td><a href="javascript:void(0)"
												onclick="colclick('orange')"><img
													src="/resistores/images/cl_orange.gif" alt="" border="0"
													id="clorange" /></a></td>
											<td>Laranja</td>
											<td align="center" valign="top">(3)</td>
										</tr>
										<tr>
											<td><a href="javascript:void(0)"
												onclick="colclick('yellow')"><img
													src="/resistores/images/cl_yellow.gif" alt="" border="0"
													id="clyellow" /></a></td>
											<td>Amarelo</td>
											<td align="center" valign="top">(4)</td>
										</tr>
										<tr>
											<td><a href="javascript:void(0)"
												onclick="colclick('green')"><img
													src="/resistores/images/cl_green.gif" alt="" border="0"
													id="clgreen" /></a></td>
											<td>Verde</td>
											<td align="center" valign="top">(5)</td>
										</tr>
										<tr>
											<td><a href="javascript:void(0)"
												onclick="colclick('blue')"><img
													src="/resistores/images/cl_blue.gif" alt="" border="0"
													id="clblue" /></a></td>
											<td>Azul</td>
											<td align="center" valign="top">(6)</td>
										</tr>
										<tr>
											<td><a href="javascript:void(0)"
												onclick="colclick('violet')"><img
													src="/resistores/images/cl_violet.gif" alt="" border="0"
													id="clviolet" /></a></td>
											<td>Violeta</td>
											<td align="center" valign="top">(7)</td>
										</tr>
										<tr>
											<td><a href="javascript:void(0)"
												onclick="colclick('grey')"><img
													src="/resistores/images/cl_grey.gif" alt="" border="0"
													id="clgrey" /></a></td>
											<td>Cinza</td>
											<td align="center" valign="top">(8)</td>
										</tr>
										<tr>
											<td><a href="javascript:void(0)"
												onclick="colclick('white')"><img
													src="/resistores/images/cl_white.gif" alt="" border="0"
													id="clwhite" /></a></td>
											<td>Branco</td>
											<td align="center" valign="top">(9)</td>
										</tr>
										<tr>
											<td><a href="javascript:void(0)"
												onclick="colclick('gold')"><img
													src="/resistores/images/cl_band.gif" alt="" border="0"
													id="clgold" /></a></td>
											<td>Dourado</td>
											<td align="center" valign="top">&nbsp;</td>
										</tr>
										<tr>
											<td><a href="javascript:void(0)"
												onclick="colclick('silver')"><img
													src="/resistores/images/cl_band.gif" alt="" border="0"
													id="clsilver" /></a></td>
											<td>Prateado</td>
											<td align="center" valign="top">&nbsp;</td>
										</tr>
									</tbody>
								</table></td>
						</tr>
						<tr>
							<td align="center" valign="top">
								<form id="Rvalueform">
									<table width="100%" height="190" border="0">
										<tbody>
											<tr height="190">
												<td colspan="2">
													<fieldset>
														<legend>Selecione quantas bandas tem o resistor!</legend>
														<label>Selecione numero de Bandas:</label> <input
															type="radio" name="bands" id="4bands" value="4"
															onchange="changeBands(this.value);return true;"
															checked="checked" /> <label for="4">4 </label> <input
															type="radio" name="bands" id="5" value="5"
															onchange="changeBands(this.value);return true;" /> <label
															for="sizeMed">5 </label> <input type="radio" name="bands"
															id="6bands" value="6"
															onChange="changeBands(this.value);return true;" /> <label
															for="6bands">6 </label>
													</fieldset>
											</tr>
											<tr height="30">
												<td width="76"><label for="Rres">Resistência</label></td>
												<td width="125"><input type="text" id="Rres" value="1k"
													size="6">Ω</td>
											</tr>
											<tr height="30">
												<td width="76"><label for="Rtol">Tolerância ±</label></td>
												<td width="125"><input type="text" id="Rtol" value="10"
													size="6"> %</td>
											</tr>
											<tr id="trRtempcoefs" height="30" style="display: none;">
												<td width="76"><label for="Rtempcoefs">Temperatura</label>
												<td width="125"><input type="text" id="Rtempcoefs"
													value="15" size="6">PPM/°C</td>
											</tr>
										</tbody>
									</table>
								</form>
							</td>
						</tr>
						<tr>
							<td align="center" valign="top">
								<form name="moveform">
									<label for="move">Move para a próxima banda após o
										click</label> <input type="checkbox" id="move" checked="checked">
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<script type="text/javascript">
//<!--  
changeBands({{page.bands}});
//-->
</script>
