<div class="box">
	<div class="box-title">Recursos</div>
	<div class="box-content">
		<ul class="nice-list">
			<li><a href="/simulador"> Simulador de Circuitos</a> <br />Um
				simples fácil simulador de circuitos</li>
			<li><a href="http://www.arduino.cc/" rel="nofollow">Arduino</a>
				<br />Prototyping Platform</li>
			<li><a href="http://templates.arcsin.se/">Arcsin Web
					Templates</a></li>
			<li><a href="http://www.google.com/" rel="nofollow">Google</a> <br />
				Web Search</li>

		</ul>
	</div>
</div>