<div class="sidebar">
        
        {%- if site.mailchimp.show -%}
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {%- include newsletter.html -%}
        </div>
        {%- endif -%}   

        {%- if site.data.authors -%}
        <div class="sidebar-section">
            <h5><span>Autores do Site</span></h5>
            {%- for author in site.data.authors -%}
            {%- assign authorid = author[0] -%}
            {%- assign authordata = site.data.authors[authorid] -%}

            <div class="row post-top-meta">
                {%- if authordata.image == nil -%}
                {%- assign image = authordata.gravatar -%} 
                <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ image }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                {%- else -%}
                {%- assign image = authordata.gravatar -%} 
                <img class="author-thumb" src="{{ site.baseurl }}/{{ site.images.baseurl }}/{{ image }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                {%- endif -%}
                <span class="author-name">{{authordata.display_name}}</span>						
                <span class="author-description">{{authordata.description}}</span>						
            </div>		
            {%- endfor -%}
        </div>
        {%- endif -%}
        {%- if site.data.usefuls -%}
        <div class="sidebar-section">
            <h5><span>Úteils</span></h5>
            <ul style="list-none;">
                {%- for useful in site.data.usefuls -%}
                <li><a target="_blank" href="{{useful.url}}">{{useful.title}}</a></li>
                {%- endfor -%}
            </ul>
        </div>
        {%- endif -%}
         
        {%- if site.data.recommendations -%}
        <div class="sidebar-section">
           <h5><span>Recomendado</span></h5>
                {%- for recommended in site.data.recommendations -%}
           <a href="{{recommended.url}}" title="{{recommended.title}}">{%- if recommended.image_url -%}<img src="{{ site.baseurl }}/{{ site.images.baseurl }}/{{recommended.image.url}}" alt="{{recommended.image.description}}" />{%- else -%}{{ recommended.title}}{%- endif -%}</a>
           {%- endfor -%}
        </div>
        {%- endif -%}    

        {%- if include.ads -%}
        {%- include advertising.html -%}
        {%- endif -%}
</div>