<div class="sidebar">
        
        {%- if site.mailchimp.show -%}
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {%- include newsletter.html -%}
        </div>
        {%- endif -%}   

        {%- if site.data.authors -%}
        <div class="sidebar-section">
            <h5><span>Autores do Site</span></h5>
            {%- for author in site.data.authors -%}
            {%- assign authorid = author[0] -%}
            {%- assign authordata = site.data.authors[authorid] -%}

            <div class="row post-top-meta">
                {%- if authordata.image == nil -%}
                {%- assign image = authordata.gravatar -%} 
                <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ image }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                {%- else -%}
                {%- assign image = authordata.gravatar -%} 
                <img class="author-thumb" src="{{ site.baseurl }}/{{ site.images.baseurl }}/{{ image }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                {%- endif -%}
                <span class="author-name">{{authordata.display_name}}</span>						
                <span class="author-description">{{authordata.description}}</span>						
            </div>		
            {%- endfor -%}
        </div>
        {%- endif -%}

        {%- for menu in site.data.menu -%}
        {%- for type in menu.use -%}
        {%- if type == "useful" -%}
        {%- assign usefuls = true -%}
        {%- endif -%}
        {%- if type == "recommendation" -%}
        {%- assign recommendations = true -%}
        {%- endif -%}
        {%- if type == "whatsapp" -%}
        {%- assign whatsapp = true -%}
        {%- endif -%}
        {%- if type == "facebook" -%}
        {%- assign facebook = true -%}
        {%- endif -%}
        {%- if type == "facebook-group" -%}
        {%- assign facebookgroup = true -%}
        {%- endif -%}
        {%- endfor -%}
        {%- endfor -%}

        {%- if whatsapp -%}
        <div class="sidebar-section">
            <h5><span><i class="fa fa-whatsapp" aria-hidden="true"></i>Whatsapp</i></span></h5>
            <ul style="list-none;">
                {%- for menu in site.data.menu -%}
                {%- for type in menu.use -%}
                {%- if type == "whatsapp" -%}
                <li><a href='{%- unless menu.url contains "http://" -%} {%- unless menu.url contains "https://" -%}{{ site.baseurl }}/{%- endunless -%}{%- endunless -%}{{ menu.url }}' title="{{menu.title}}">{%- if menu.image_url -%}<img src="{{ site.baseurl }}/{{ site.images.baseurl }}/{{menu.image.url}}" alt="{{recommended.image.description}}" />{%- else -%}{{ menu.title}}{%- endif -%}</a></li>
                {%- endif -%}
                {%- endfor -%}
                {%- endfor -%}
            </ul>
        </div>
        {%- endif -%}

        {%- if facebook -%}
        <div class="sidebar-section">
            <h5><span><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</i></span></h5>
            <ul style="list-none;">
                {%- for menu in site.data.menu -%}
                {%- for type in menu.use -%}
                {%- if type == "facebook" -%}
                <li><a href='{%- unless menu.url contains "http://" -%} {%- unless menu.url contains "https://" -%}{{ site.baseurl }}/{%- endunless -%}{%- endunless -%}{{ menu.url }}' title="{{menu.title}}">{%- if menu.image_url -%}<img src="{{ site.baseurl }}/{{ site.images.baseurl }}/{{menu.image.url}}" alt="{{recommended.image.description}}" />{%- else -%}{{ menu.title}}{%- endif -%}</a></li>
                {%- endif -%}
                {%- endfor -%}
                {%- endfor -%}
            </ul>
        </div>
        {%- endif -%}

        {%- if facebookgroup -%}
        <div class="sidebar-section">
            <h5><span><i class="fa fa-facebook" aria-hidden="true"></i>Grupos no Facebook</i></span></h5>
            <ul style="list-none;">
                {%- for menu in site.data.menu -%}
                {%- for type in menu.use -%}
                {%- if type == "facebook-group" -%}
                <li><a href='{%- unless menu.url contains "http://" -%} {%- unless menu.url contains "https://" -%}{{ site.baseurl }}/{%- endunless -%}{%- endunless -%}{{ menu.url }}' title="{{menu.title}}">{%- if menu.image_url -%}<img src="{{ site.baseurl }}/{{ site.images.baseurl }}/{{menu.image.url}}" alt="{{recommended.image.description}}" />{%- else -%}{{ menu.title}}{%- endif -%}</a></li>
                {%- endif -%}
                {%- endfor -%}
                {%- endfor -%}
            </ul>
        </div>
        {%- endif -%}

        {%- if usefuls -%}
        <div class="sidebar-section">
            <h5><span>Úteils</span></h5>
            <ul style="list-none;">
                {%- for menu in site.data.menu -%}
                {%- for type in menu.use -%}
                {%- if type == "useful" -%}
                <li><a href='{%- unless menu.url contains "http://" -%} {%- unless menu.url contains "https://" -%}{{ site.baseurl }}/{%- endunless -%}{%- endunless -%}{{ menu.url }}' title="{{menu.title}}">{%- if menu.image_url -%}<img src="{{ site.baseurl }}/{{ site.images.baseurl }}/{{menu.image.url}}" alt="{{recommended.image.description}}" />{%- else -%}{{ menu.title}}{%- endif -%}</a></li>
                {%- endif -%}
                {%- endfor -%}
                {%- endfor -%}
            </ul>
        </div>
        {%- endif -%}
       
        {%- if recommendations -%}
        <div class="sidebar-section">
                <h5><span>Recomendado</span></h5>
                <ul style="list-none;">
                {%- for menu in site.data.menu -%}
                {%- for type in menu.use -%}
                {%- if type == "recommendation" -%}
                <li><a href='{%- unless menu.url contains "http://" -%} {%- unless menu.url contains "https://" -%}{{ site.baseurl }}/{%- endunless -%}{%- endunless -%}{{ menu.url }}' title="{{menu.title}}">{%- if menu.image_url -%}<img src="{{ site.baseurl }}/{{ site.images.baseurl }}/{{menu.image.url}}" alt="{{recommended.image.description}}" />{%- else -%}{{ menu.title}}{%- endif -%}</a></li>
                {%- endif -%}
                {%- endfor -%}
                {%- endfor -%}
                </ul>
        </div>
        {%- endif -%}    

        {%- if include.ads -%}
        {%- include advertising.html -%}
        {%- endif -%}
</div>