---
title: Contatos
layout: noindex
--- 
### E-mails dos Organizadores:

* Fernando Passe: fernandopasse@gmail.com
* Carlos Delfino: consultoria@carlosdelfino.eti.br
   * Belo Horizonte: (31) 8406-9811
   * Sete Lagoas: (31) 8406-9811


### Links da Comunidade:
<ul>
	<li>[http://arduinominas.com.br](http://arduinominas.com.br),
	</li> 
	<li>[Twitter @ArduinoMinas](http://twitter/ArduinoMinas),
	</li>
	<li>[Fanpage no Facebook](http://fb.me/ArduinoMinas),
	</li> 
	<li>[Grupos no Facebook](http://fb.me/groups/ArduinoMinas)
	</li>
</ul>