---
layout: page
---
<div id="content-wrapper">
	<div class="center-wrapper">
		<div class="content">
			<div id="featured-wrapper">
				<div id="featured">
					<div class="left" style="width: 400px; heigth: 330px" >
						{{ content }}
					</div>
					<div class="right">
						<img src="{{ site.logo }}" width="318" height="330" alt="" />
					</div>
					<div class="clearer">&nbsp;</div>
				</div>
			</div>
			<div id="main">
				<div class="separator-vertical">
					<div class="col2 left">
						<h2 class="left">{{ site.projects }}</h2>
						<div class="right more large"><a href="projects.html">Todos os Projetos &#187;</a></div>						
						<div class="clearer">&nbsp;</div>
						{% for post in site.posts limit:4 %}
						   {% if post.category || downcase = {{ site.projects | downcase }} %}
						<div class="content-separator"></div>
								{% if post.thumb %}
						<img src="{{ post.thumb }}" width="64" height="64" alt="" class="left bordered" />
								{% endif %}
						<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
						<p>{{ post.excerpt }}</p>
						<div class="clearer">&nbsp;</div>
							{% endif %}
						{% endfor %}	
					</div>
					<div class="col2 right">
						<h2 class="left">Notícias</h2>
						<div class="right more large"><a href="#">Procurar no Arquivo &#187;</a></div>
						<div class="clearer">&nbsp;</div>
						<ul class="nice-list">
						{% for post in site.posts limit:5 %}
						   {% unless post.category | downcase = {{ site.news | downcase }} and post.category | downcase =  {{ site.phrases | downcase }} %}
							<li><span>{{ post.date | date: "%Y-%m-%d" }} |</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
							{% endunless %}
						{% endfor %}
						</ul>												
						<h2 class="left">Frases</h2>
						<div class="right more large"><a href="frases.html">Mais &#187;</a></div>
						<div class="clearer">&nbsp;</div>
						{% for post in site.posts limit:3 %}
						   {% if post.category | downcase = {{ site.phrase || downcase }} %}
						<blockquote>
							<p><span>&quot;</span> {{ post.excerpt }} <span>&quot;</span></p>
							<cite>{{ post.author }}</cite>
						</blockquote>
							{% endif %}
						{% endfor %}
					</div>
					<div class="clearer">&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
</div>