---
layout: index
title: Início
---
<h1>Estamos em Construção</h1>

<hr />
<p align="justify">Estamos trabalhando em um novo layout para nosso site!</p>
<p align="justify">Não deixe de nos visitar usando um dos Links: 
	<ul>
	<li><a href="https://groups.google.com/forum/?hl=pt-BR&fromgroups#!forum/arduino-minas">Google Groups</a>
	</li> 
	<li><a href="http://twitter/ArduinoMinas">Twitter @ArduinoMinas</a>
	</li>
	<li><a href="http://fb.me/ArduinoMinas">Fanpage no Facebook</a>
	</li> 
	<li><a href="http://fb.me/groups/ArduinoMinas">Grupos no Facebook</a>
	</li>
	</ul>
</p>
