---
layout: index
title: Início
---
# Estamos em Construção

<hr />
<p align="justify">Estamos trabalhando em um novo layout para nosso site!</p>
<p align="justify">Não deixe de nos visitar usando um dos Linsk: 
	<ul>
	<li>[Google Groups](https://groups.google.com/forum/?hl=pt-BR&fromgroups#!forum/arduino-minas)
	</li> 
	<li>[Twitter @ArduinoMinas](http://twitter/ArduinoMinas),
	</li>
	<li>[Fanpage no Facebook](http://fb.me/ArduinoMinas),
	</li> 
	<li>[Grupos no Facebook](http://fb.me/groups/ArduinoMinas)
	</li>
	</ul>
</p>
