---
layout: page
---
<article class="box">
	<header>
		<time datetime="{{page.date | date: "%Y-%m-%d"}}" title="{{page.date | date: "%Y-%m-%d"}}">{{page.date | date: "%d.%m.%Y"}}</time>					
		<h1><span><a href="{{ page.url }}">{{ page.title }}</a></span></h1>	
	</header>
	<p>{{ page.excerpt | markdownify }}</p>
	<a id="more"></a>
	<h2>Autor: {{ page.author | markdownify }}</h2>
	<h3>Contribuição: {{ page.contributors | markdownify }}</h3>
	<hr />
	{{ content }}
	<footer>
		{% assign post = page % %}
		{% include widgets/postCategoryList.html %}
		{% include widgets/postTagList.html %}	
	</footer>
</article>